/* header css start here */
/* ------------------------------- */
.header_main {
    /* height: 75px; */
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
}

/* ------------------------------- */
/* header css end here */


/* alice carrosal css start here */
/* ------------------------------- */
.slider_img {
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.thumb .slider_img {
    height: 80px;
    object-fit: cover;
    user-select: none !important;
    border-radius: 0px;
}

.thumbs {
    max-width: 600px;
    margin: 0 auto;
}

.thumbs .alice-carousel__stage-item {
    width: 150px !important;
    max-height: 85px;
    /* margin-right: 15px; */
    padding-right: 15px;
    cursor: pointer;
}

/* ------------------------------- */
/* alice carrosal css end here */


/* text-area css start here */
/* ------------------------------- */


.text-area::placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* ------------------------------- */
/* text-area css end here */

/* phone input css start here */
/* ------------------------------- */
/* .react-tel-input .flag-dropdown{
    bottom: 27px !important;
} */
.react-tel-input .form-control {
    width: 18.4rem !important;
}

/* ------------------------------- */
/* phone input css end here */