/* header css start here */
/* ------------------------------- */
.header_main {
    /* height: 75px; */
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
}

/* ------------------------------- */
/* header css end here */


/* alice carrosal css start here */
/* ------------------------------- */
.slider_img {
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.thumb .slider_img {
    height: 80px;
    object-fit: cover;
    user-select: none !important;
    border-radius: 0px;
    padding: 0px 5px;
}

.thumbs {
    max-width: 600px;
    margin: 0 auto;
}

.thumbs .alice-carousel__stage-item {
    width: 150px !important;
    max-height: 85px;
    /* margin-right: 15px; */
    /* padding-right: 15px; */
    cursor: pointer;
}

/* ------------------------------- */
/* alice carrosal css end here */


/* text-area css start here */
/* ------------------------------- */


.text-area::placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* ------------------------------- */
/* text-area css end here */

/* phone input css start here */
/* ------------------------------- */

.react-tel-input .form-control {
    width: 18.4rem !important;
}

/* ------------------------------- */
/* phone input css end here */

/* banner css start here */
/* ------------------------------- */
/* .banner_main{
    background-image: linear-gradient(99.9deg, #737270 4.3%, rgba(81, 75, 22, 0.1) 111.37%),url("../images/why_choose_banner.jpeg");
    height: 500px;
    mix-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
} */
/* ------------------------------- */
/* banner css end here */

.swiper-slide.swiper-slide-prev{
    color: #C2C2C2 !important;
}

.swiper-slide.swiper-slide-next{
    color: #C2C2C2 !important;
}